{% extends 'layout.html' %}

{% block title %}| About {% endblock %}
{% block head %}

<link rel="stylesheet" href="/static/css/about.css">

{% endblock head %}


{% block body %}


<div class="body-head">

    <div class="about-heading">
        <h1>About</h1>
    </div>
    <div class="about-img"><img src="/static/img/sheetedit.png" alt=""></div>

</div>

<div class="body-container">

    <div class="body-container-content">
        <p>Hey! My name is Ishika</p>
        <p>Welcome to Chetbo.com. It was intended to help individuals assemble a site or a blog to draw out their own
            way of life. Numerous individuals work with unresolved issues their living, work for 40+ hours seven days,
            never see their children grow up and never purchase the best things throughout everyday life. </p>
        <p>
            I was consistently in website designing and made myself set up an freelancing positions setting up blog and
            making content for small business. Around then I felt that I could rake in some serious cash through
            publishing content to a blog. </p>
        <p>
            As the blog building orders came in, just from proposals from past customers, I had sufficient cash to make
            my own web journals and make some genuine money. </p>
        <p>
            One day I had got an idea to make blogging plus Cheatsheet website. In this era, there are two types of
            people, one who likes to read a lot and other are rushing people who likes to read main points not the long
            article. </p>
        <p>
            For making Chetbo.com I started learning Python Django framework for backend process for making my dream
            working and help people by providing them the best guidance. </p>
        <p>
            On the basis of that I made this website for both type of people. I made two sections one is blog section
            and other is Cheatsheet section. It sounds tricky? But wait I will explain.</p>
        <p>
            Cheatsheet section presents you the blog section highlights or main points. In conclusion Cheatsheet is for
            rushing people and blog section is for long article readers.</p>
        <p>
            My subjects come from publishing content to a blog fundamentals to other progressed strategies like getting
            more traffic or getting more cash from your blog. On the off chance that you needed to begin a blog for
            quite a while, however you didn't have a clue where to begin or how to begin, you're in the perfect spot.
        </p>
        <p>
            At Chetbo.com I will present best of my knowledge and analysis in every domain. I will publish every type of
            blog topics with cheatsheets and I hope you will like it. </p>
        <p>
            You can also follow me on : Twitter, Facebook, Instagram</p>
        <p>
            Contact Me:

        <ul>

            <li>Have any query or questions?</li>
            <li>Have any suggestions?</li>
            <li>Want to interview me for your website?</li>
        </ul><br>
        Either Email me or fill the <a href='/contact'>Contact Form</a></p>

        </p>


    </div>



</div>


{% endblock %}